@inherits LayoutComponentBase
@using BlazorControlWork.Data
@inject SingletonUserService singletonUserService

<PageTitle>BlazorControlWork</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="profile" target="_blank">@singletonUserService.GetUser().Name @singletonUserService.GetUser().Surname </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
